fastapi
uvicorn[standard]
SQLAlchemy>=1.4
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic
pytest
pytest-asyncio
httpx
asyncpg
python-dotenv
pydantic-settings
python-multipart
bcrypt==4.0.1
sentry-sdk[fastapi]